*{
  margin: 0;
  padding: 0;
}
body{
  background: white;
  color: #444;
  font-family: 'stylish',sans-serif;
  font-weight: lighter;
  margin: 0;
}
.illustration{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
   url(../img/port.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
h1{
  position: absolute;
  text-align: left;
  color: #01fefd;
  width: 100%;
  padding-top: 170px;
  font-size: 90px;
}
.i-large, .i-medium, .i-small{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.i-large{
  background: url(../img/particules_large.png) repeat 0px 0px;
  animation: dropFlowParticles 2s linear infinite;
}
.i-medium{
  background: url(../img/particules_medium.png) repeat 0px 0px;
  animation: dropFlowParticles 12s linear infinite;
}
.i-small{
  background: url(../img/particules_small.png) repeat 0px 0px;
  animation: dropFlowParticles 27s linear infinite;
}
@keyframes dropFlowParticles{
  from{
    background-position: 0 0;
  }
  to{
    background-position: 0 413px;
  }
}
